<div class="footer-section-container">
    <div class="footer-section">
        <div class="row">
            <div class="col-lg-3">
                <span [routerLink]="['aboutUs']">About Us</span>
            </div>

            <div class="col-lg-3">
                <span [routerLink]="['feedback']">Contact Us</span>
            </div>

            <div class="col-lg-3">
                <span [routerLink]="['feedback']">Feedback</span>
            </div>

            <div class="col-lg-3">
                <span [routerLink]="['feedback']">Our Team</span>
            </div>
        </div>
    </div>



</div>